.demo-list-item {
    width: 100%;
}

.w-25{
    width: 30%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}

.ml-items{
    margin-left: 20px; 
}

.mr-items{
    margin-right: 20px; 
}

input{
    text-align: right;
}

div#cont-entrada{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px; */
}
